.main {
  min-height: 100vh;
  width: auto;
  padding: 0;
  margin: 0 auto;
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 3px solid #2e3440;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}
.title {
  text-align: center;
  margin: 1rem 0;
  line-height: 1.15;
  font-size: clamp(1.5rem, 4vw, 3rem);
  background: linear-gradient(-70deg, #ff2c20 0%, #ffd18b 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subtitle {
  text-align: center;
  margin: 1rem 1rem;
  line-height: 1.15;
  font-size: clamp(0.75rem, 1vw, 1.5rem);
}
.subtitle span {
  color: #ffd18b;
}
.subtitle:nth-child(2) span {
  color: #ff2c20;
}

.asideLeft {
  background: -webkit-linear-gradient(-70deg, #ff2b20be 0%, #ffd18bbe 100%);
  display: block;
  text-align: center;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.asideLeft p {
  font-size: clamp(0.75rem, 2vw, 2rem);
}
.asideRight {

  background: -webkit-linear-gradient(-70deg, #ff2b20be 0%, #ffd18bbe 100%);
  display: block;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.asideRight p {
  font-size: clamp(0.75rem, 2vw, 2rem);
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0.75%;
}
.graphLabelLeft {
  position: fixed;
  top: 12.65%;
  left: 0;
  width: 2%;
  height: 100vh;
  background-color: #e58c065e;
  margin-left: 8px;
  line-height: 3.5;
}
.graphLabelTop {
  width: 1.5%;
  height: 0.75;
  background-color: #ff2c20;
  margin: 2px;
}
.blockRemaining{
  width: 1.775%;
  height: 0.75;
  background-color: #ff2c20;
  margin: 2px;
}
.blockLived {
  width: 1.775%;
  height: 0.75;
  background-color: #ffd18b;
  margin: 2px;
}
.paragraph {
  font-size: 4px;
}
.form {
  width: 50%;
  height: auto;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #2e3440;
  margin: 0 auto;
}
.label {
  display: block;
  font-size: clamp(1rem, 2vw, 2rem);
  text-align: center;
}
.input {
  display: block;
  width: calc(10vw + 1rem);
  padding: 0.5rem;
  border: 1px solid #eaeaea;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-size: clamp(1rem, 2vw, 2rem);
}
.select {
  display: block;
  appearance: none;
  background-color: transparent;
  border: 1px solid #eaeaea;
  border-radius: 0.5rem;
  padding: 0 1rem 0 1rem;
  margin: 0.5rem 0;
  width: calc(12vw + 1rem);
  font-size: clamp(1.25rem, 2vw, 2rem);
  max-height: calc(1.5vw + 1rem);
  text-align: center;
}
.select:focus, .select:active {
  outline: none;
  border: 1px solid #ff2c20;
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #e58c06;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px #ff2c20;
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #ff2c20;
  }
}
.buttonVisualife {
  margin: 1rem;
  background: linear-gradient(-70deg, #ff2c20 0%, #ffd18b 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: clamp(1rem, 2vw, 2rem);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  animation: pulse 2s infinite;
}
.button {
  margin: 1rem;
  background: linear-gradient(-70deg, #ff2c20 0%, #ffd18b 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: clamp(1rem, 2vw, 2rem);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.landscapeMode {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 40vw;
  background: linear-gradient(-70deg, #ff2c20 0%, #ffd18b 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 2rem;
}
@media (max-width:600px) {
  .form, .asideLeft, .asideRight {
    display:none;
  }
}
@media (min-width:600px) {
  .landscapeMode{
    display: none;
  }
}
@media (max-width: 844px) {
  .block {
    width: 1.425%;
    height: 1%;
  }
  .select {
    width: 21vw;
  }
}

/* LOADER SECTION */
.ldsRoller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ldsRoller div {
  animation: ldsRoller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.ldsRoller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.ldsRoller div:nth-child(1) {
  animation-delay: -0.036s;
}
.ldsRoller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.ldsRoller div:nth-child(2) {
  animation-delay: -0.072s;
}
.ldsRoller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.ldsRoller div:nth-child(3) {
  animation-delay: -0.108s;
}
.ldsRoller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.ldsRoller div:nth-child(4) {
  animation-delay: -0.144s;
}
.ldsRoller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.ldsRoller div:nth-child(5) {
  animation-delay: -0.18s;
}
.ldsRoller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.ldsRoller div:nth-child(6) {
  animation-delay: -0.216s;
}
.ldsRoller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.ldsRoller div:nth-child(7) {
  animation-delay: -0.252s;
}
.ldsRoller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.ldsRoller div:nth-child(8) {
  animation-delay: -0.288s;
}
.ldsRoller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes ldsRoller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}