.main {
  min-height: 100vh;
  width: auto;
  padding: 0;
  margin: 0 auto;
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 3px solid #2e3440;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}
.title {
  text-align: center;
  margin: 1rem 0;
  line-height: 1.15;
  font-size: clamp(1.5rem, 4vw, 3rem);
  background: linear-gradient(-70deg, #ff2c20 0%, #ffd18b 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subtitle {
  text-align: center;
  margin: 1rem 1rem;
  line-height: 1.15;
  font-size: clamp(0.75rem, 1vw, 1.5rem);
}
.subtitle span {
  color: #ffd18b;
}
.subtitle:nth-child(2) span {
  color: #ff2c20;
}

.asideLeft {
  background: -webkit-linear-gradient(-70deg, #ff2b20be 0%, #ffd18bbe 100%);
  display: block;
  text-align: center;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.asideLeft p {
  font-size: clamp(0.75rem, 2vw, 2rem);
}
.asideRight {

  background: -webkit-linear-gradient(-70deg, #ff2b20be 0%, #ffd18bbe 100%);
  display: block;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.asideRight p {
  font-size: clamp(0.75rem, 2vw, 2rem);
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0.75%;
}
.graphLabelLeft {
  position: absolute;
  top: 168px;
  left: 0;
  width: 2%;
  height: 100vh;
  margin-left: 4px;
}
.graphLabelLeft p {
  font-size: 6px;
  margin: 3px 0;
  color: #d0d0d0;
}
.graphLabelTop {
  width: 1.75%;
  margin: 2px;
}
.graphLabelTop p {
  font-size: 6px;
  color: #d0d0d0;
}
.blockRemaining{
  width: 1.75%;
  background-color: #ff2c20;
  margin: 2px;
}
.blockLived {
  width: 1.75%;
  background-color: #ffd18b;
  margin: 2px;
}
.paragraph {
  font-size: 6px;
  color: black;
  text-align: center;
}
.form {
  width: 50%;
  height: auto;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #2e3440;
  margin: 0 auto;
}
.label {
  display: block;
  font-size: clamp(1rem, 2vw, 2rem);
  text-align: center;
}
.input {
  display: block;
  width: calc(10vw + 1rem);
  padding: 0.5rem;
  border: 1px solid #eaeaea;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-size: clamp(1rem, 2vw, 2rem);
}
.select {
  display: block;
  appearance: none;
  background-color: transparent;
  border: 1px solid #eaeaea;
  border-radius: 0.5rem;
  padding: 0 1rem 0 1rem;
  margin: 0.5rem 0;
  width: calc(12vw + 1rem);
  font-size: clamp(1.25rem, 2vw, 2rem);
  max-height: calc(1.5vw + 1rem);
  text-align: center;
}
.select:focus, .select:active {
  outline: none;
  border: 1px solid #ff2c20;
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #e58c06;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px #ff2c20;
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #ff2c20;
  }
}
.buttonVisualife {
  margin: 1rem;
  background: linear-gradient(-70deg, #ff2c20 0%, #ffd18b 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: clamp(1rem, 2vw, 2rem);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  animation: pulse 2s infinite;
}
.button {
  margin: 1rem;
  background: linear-gradient(-70deg, #ff2c20 0%, #ffd18b 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: clamp(1rem, 2vw, 2rem);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.landscapeMode {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 40vw;
  background: linear-gradient(-70deg, #ff2c20 0%, #ffd18b 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 2rem;
}
/* BLOCK SIZING SECTION */
@media (max-width: 2324px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.725%;
  }
  .graphLabelLeft {
    top: 165px;
  }
}
@media (max-width: 2031px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.715%;
  }
  .graphLabelLeft {
    top: 163px;
  }
}
@media (max-width: 1936px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.705%;
  }
}
@media (max-width: 1846px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.695%;
  }
  .graphLabelLeft {
    top: 161px;
  }
}
@media (max-width: 1764px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.685%;
  }
}
@media (max-width: 1688px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.675%;
  }
  .graphLabelLeft {
    top: 159px;
  }
}
@media (max-width: 1620px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.665%;
  }
}
@media (max-width: 1556px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.655%;
  }
}
@media (max-width: 1496px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.645%;
  }
  .graphLabelLeft {
    top: 157px;
  }
}
@media (max-width: 1444px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.635%;
  }
}
@media (max-width: 1394px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.625%;
  }
}
@media (max-width: 1346px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.615%;
  }
}
@media (max-width: 1304px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.605%;
  }
  .graphLabelLeft {
    top: 155px;
    margin-left: 2px;
  }
}
@media (max-width: 1263px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.595%;
  }
}
@media (max-width: 1227px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.575%;
  }
  .graphLabelLeft {
    top: 153px;
    margin-left: 2px;
  }
}
@media (max-width: 1155px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.565%;
  }
  .graphLabelLeft {
    top: 151px;
    margin-left: 2px;
  }
}
@media (max-width: 1123px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.555%;
  }
  .graphLabelLeft {
    top: 149px;
    margin-left: 1px;
  }
}
@media (max-width: 1092px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.545%;
  }
}
@media (max-width: 1065px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.535%;
  }
  .graphLabelLeft {
    top: 145px;
    margin-left: 0px;
  }
}
@media (max-width: 1038px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.525%;
  }
}
@media (max-width: 1011px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.515%;
  }
}
@media (max-width: 983px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.505%;
  }
}
@media (max-width: 961px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.495%;
  }
  .graphLabelLeft {
    top: 143px;
    margin-left: 0px;
  }
}
@media (max-width: 938px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.485%;
  }
  .graphLabelLeft {
    top: 141px;
    margin-left: 0px;
  }
}
@media (max-width: 916px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.475%;
  }
}
@media (max-width: 898px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.465%;
  }
  .graphLabelLeft {
    top: 139px;
    margin-left: 0px;
  }
}
@media (max-width: 878px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.455%;
  }
}
@media (max-width: 857px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.445%;
  }
}
@media (max-width: 843px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.415%;
  }
  .graphLabelLeft {
    top: 137px;
    margin-left: 0px;
  }
}
@media (max-width: 794px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.405%;
  }
  .graphLabelLeft {
    top: 135px;
    margin-left: 0px;
  }
}
@media (max-width: 780px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.385%;
  }
}
@media (max-width: 752px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.355%;
  }
  .graphLabelLeft {
    top: 133px;
    margin-left: 0px;
  }
}
@media (max-width: 712px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.325%;
  }
  .graphLabelLeft {
    top: 131px;
    margin-left: 0px;
  }
}
@media (max-width: 676px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.305%;
  }
  .graphLabelLeft {
    top: 129px;
    margin-left: 0px;
  }
}
@media (max-width: 654px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.285%;
  }
}
@media (max-width: 635px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.265%;
  }
  .graphLabelLeft {
    top: 127px;
    margin-left: 0px;
  }
}
@media (max-width: 614px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.245%;
  }
}
@media (max-width: 596px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.215%;
  }
  .graphLabelLeft {
    top: 126px;
    margin-left: 0px;
  }
}
@media (max-width: 572px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.185%;
  }
}
@media (max-width: 549px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.155%;
  }
}
@media (max-width: 527px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.125%;
  }
}
@media (max-width: 508px) {
  .blockLived, .blockRemaining, .graphLabelTop {
    width: 1.095%;
  }
}
/* BLOCK SIZING SECTION */

@media (max-width:600px) {
  .form, .asideLeft, .asideRight {
    display:none;
  }
}
@media (min-width:600px) {
  .landscapeMode{
    display: none;
  }
}
@media (max-width: 844px) {
  .select {
    width: 21vw;
  }
  .container {
    padding-left: 4px;
  }
}

/* LOADER SECTION */
.ldsRoller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ldsRoller div {
  animation: ldsRoller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.ldsRoller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.ldsRoller div:nth-child(1) {
  animation-delay: -0.036s;
}
.ldsRoller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.ldsRoller div:nth-child(2) {
  animation-delay: -0.072s;
}
.ldsRoller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.ldsRoller div:nth-child(3) {
  animation-delay: -0.108s;
}
.ldsRoller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.ldsRoller div:nth-child(4) {
  animation-delay: -0.144s;
}
.ldsRoller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.ldsRoller div:nth-child(5) {
  animation-delay: -0.18s;
}
.ldsRoller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.ldsRoller div:nth-child(6) {
  animation-delay: -0.216s;
}
.ldsRoller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.ldsRoller div:nth-child(7) {
  animation-delay: -0.252s;
}
.ldsRoller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.ldsRoller div:nth-child(8) {
  animation-delay: -0.288s;
}
.ldsRoller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes ldsRoller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}